{% load markdown_deux_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Quizzy</title>
  {% load staticfiles %}

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href='https://fonts.googleapis.com/css?family=Amaranth:700italic' rel='stylesheet' type='text/css'>
</head>

<body>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/" class="brand-logo" style="font-family: 'Amaranth', sans-serif;font-size:300%;"><i class="material-icons" style="float:left;">code</i>&nbspQuizzy</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/test/">Languages</a></li>
          <!-- <ul id='dropdown1' class='dropdown-content'>
            <li><a href="#!">C</a></li>
            <li><a href="#!">Java</a></li>
            <li class="divider"></li>
            <li><a href="#!">Php</a></li>
          </ul> -->
          <li><a href="/forums">Forum</a></li>
        <li><a href="/contact">Contact Us</a></li>
        {% if user.is_authenticated %}
        <li><a class="dropdown-button" data-beloworigin="true" data-activates="dropdown1">Welcome {{user.username}} ▼</a></li>
          <ul id='dropdown1' class='dropdown-content'>
            <li><a href="/performance">Your Performance</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        {% else %}
        <li><a href="/login">Register/Login</a></li>
        {% endif %}
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/test/">Languages</a></li>
        <li><a href="/forums">Forum</a></li>
        <li><a href="/contact">Contact Us</a></li>
        {% if user.is_authenticated %}
        <li><a class="dropdown-button" data-beloworigin="true" data-activates="dropdown2">Welcome {{user.username}} ▼</a></li>
          <ul id='dropdown2' class='dropdown-content'>
            <li><a href="/performance">Your Performance</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        {% else %}
        <li><a href="/login">Register/Login</a></li>
        {% endif %}

      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="container">
  <div class="row">
  <div class="col-s12">
    <article>
      <h4>{{post.question}}</h4>
      <p><b>Written by <span style="color:blue"><em>{{post.user}}</em></span> on {{post.published_date}}</b></p>
      <div class="divider"></div>
      <p>{{post.text|markdown}}</p>
    
    </article>
  </div>
  <a class="btn waves-effect waves-light" href="/forums/">
    <i class="material-icons right">fast_rewind</i>Click here to go back!
  </a>
</div>
<div class="row">
  <div id="disqus_thread"></div>
<script>
/**
* RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
* LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');

s.src = '//quizzy13.disqus.com/embed.js';

s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</div>
</div>


<footer class="page-footer white">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="black-text">Company Bio</h5>
          <p class="black-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="black-text">Test your Skills</h5>
          <ul>
            <li><a class="black-text" href="#!">C</a></li>
            <li><a class="black-text" href="#!">Java</a></li>
            <li><a class="black-text" href="#!">Php</a></li>
            <li><a class="black-text" href="#!">More Languages coming soon..</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="black-text">Connect</h5>
          <ul>
            <li><a class="black-text" href="#!">Home</a></li>
            <li><a class="black-text" href="#!">About Us</a></li>
            <li><a class="black-text" href="#!">Contact Us</a></li>
            
          </ul>
        </div>
      </div>
    </div>
    
  </footer>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static 'js/materialize.js' %}"></script>
  <script src="{% static 'js/init.js' %}"></script>
  <script id="dsq-count-scr" src="//quizzy13.disqus.com/count.js" async></script>
  </body>
</html>
