
{% load staticfiles %}
{% if user %}
{% endif %}
<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>QuizUp</title>
  {% load staticfiles %}

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

<body style="background-image:url({% static 'images/4.jpg' %});background-size:100%;background-repeat:no-repeat;">
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/" class="brand-logo">QuizUp</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/test/">Languages</a></li>
          <!-- <ul id='dropdown1' class='dropdown-content'>
            <li><a href="#!">C</a></li>
            <li><a href="#!">Java</a></li>
            <li class="divider"></li>
            <li><a href="#!">Php</a></li>
          </ul> -->
        <li><a href="/contact">Contact Us</a></li>
       
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/test/">Languages</a></li>
        <li><a href="/contact">Contact Us</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>


    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}
    

<br><br><br><br>

  <div class="container"  > 
    <div class="row" style="opacity:10">

          <div class="col s6 offset-s3 z-depth-1" id="panell" style="padding-up:10px,opacity:10">
            <h5 id="title">Login Form</h5>
            <form method="post" action="." style="padding-left:10px; opacity:10">{% csrf_token %}
              <div class="row">
               <div class="input-field col s7 ">
                      <input type="text" name="username" required>
          <label for="username">Username</label>
        </div>
      </div>

         <div class="row">
        <div class="input-field col s7">
          <input type="password" name="password" required>
          <label for="password">Password</label>
        </div>
      </div>
        
       
        <button class="btn waves-effect waves-light" type="submit" name="action" style="float:right;margin-bottom: 10px">Login</button>
        
      
    </form>

  </div>


</div>
<a style="margin-left:63%" href="/register/"><button class="btn waves-effect waves-light">Register</button>
    </a>
  </div>

{% if msg %}
<script type="text/javascript">
  alert("{{ msg }}");
</script>
{% endif %}
<br><br>
<footer class="page-footer white" style="margin-bottom:0px">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="black-text">Company Bio</h5>
          <p class="black-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="black-text">Test your Skills</h5>
          <ul>
            <li><a class="black-text" href="#!">C</a></li>
            <li><a class="black-text" href="#!">Java</a></li>
            <li><a class="black-text" href="#!">Php</a></li>
            <li><a class="black-text" href="#!">More Languages coming soon..</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="black-text">Connect</h5>
          <ul>
            <li><a class="black-text" href="#!">Home</a></li>
            <li><a class="black-text" href="#!">About Us</a></li>
            <li><a class="black-text" href="#!">Contact Us</a></li>
            
          </ul>
        </div>
      </div>
    </div>
    
  </footer>






<!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static 'js/materialize.js' %}"></script>
  <script src="{% static 'js/init.js' %}"></script>
</body>
</html>




