{% extends "footer.html" %}
{% load staticfiles %}

{% block body %}

{% if user %}
{% endif %}

<body style="background-image:url({% static 'images/4.jpg' %});background-size:100%;background-repeat:no-repeat;">

    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}
  
<br><br><br><br>

  <div class="container"  > 
    <div class="row" style="opacity:10">

          <div class="col s6 offset-s3 z-depth-1" id="panell" style="padding-up:10px,opacity:10">
            <h5 id="title">Login Form</h5>
            <form method="post" action="." style="padding-left:10px; opacity:10">{% csrf_token %}
              <div class="row">
               <div class="input-field col s7 ">
                      <input type="text" name="username" required>
          <label for="username">Username</label>
        </div>
      </div>

         <div class="row">
        <div class="input-field col s7">
          <input type="password" name="password" required>
          <label for="password">Password</label>
        </div>
      </div>
        
       
        <button class="btn waves-effect waves-light" type="submit" name="action" style="float:right;margin-bottom: 10px">Login</button>
        
      
    </form>

  </div>


</div>
<a style="margin-left:63%" href="/register/"><button class="btn waves-effect waves-light">Register</button>
    </a>
  </div>

{% if msg %}
<script type="text/javascript">
  alert("{{ msg }}");
</script>
{% endif %}
<br><br>

</body>

{% endblock %}



