{% extends "footer.html" %}
{% load staticfiles %}

{% block body %}

<body style="background-image:url({% static 'images/4.jpg' %});background-size:100%;background-repeat:no-repeat;">

<div class="container">
    <form method="post" action=".">{% csrf_token %}
        <table class = "myClass" border="0" style="font-size:120%;">
            {{ form.as_p }}
        </table>
        <a href="/register/success"><button class="btn waves-effect waves-light" type="submit" value="Register" />Register</button> 

    </form>
    <a href="/login/"><button class="btn waves-effect waves-light">Login</button>
    </a>
  </div>
    <br>
   
</body> 

{% endblock %}
