{% extends "footer.html" %}
{% load staticfiles %}
{% block body %}
  <br>
<div style="margin-left:20%" >
Click Java or PHP...<br><br>
  <a href="/javaleaderboard">Java</a><br><br>
  <a href="/phpleaderboard">PHP</a>
</div>
  <div class="container">
    <table class="highlight">
        <thead>
          <tr>
              <th data-field="id">Rank</th>
              <th data-field="name">Username</th>
              <th data-field="price">Score</th>
          </tr>
        </thead>
        <tbody>
        {% for i in p %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ i.username }}</td>
            <td>{{ i.score }}</td>
          </tr>
          {% endfor %}
        </tbody>

      </table>

  </div>
{% endblock %}