{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>QuizUp</title>
  {% load staticfiles %}

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>

    <script type="text/javascript">
        var tim;
        var min = 7;
        var sec = 0;
        var f = new Date();
        var hours = f.getHours();
        var minutes = f.getMinutes();
        if (minutes<10) {
            minutes = "0" + minutes;
        };
        if(min < 10) {
            min = "0" + min;
        };
        function f1() {
            f2();
            document.getElementById("starttime").innerHTML = "You started your Exam at " + hours + ":" + minutes;
             
          
        }
        function f2() {
            if (parseInt(sec) > 0) {
                sec = parseInt(sec) - 1;
                if(sec < 10)
                {
                    sec= "0" + sec;
                }
                
                document.getElementById("showtime").innerHTML = "<h4>Time left :</h4>" + min + ":" + sec;
                tim = setTimeout("f2()", 1000);
            }
            else {
                if (parseInt(sec) == 0) 
                {

                    min = parseInt(min) - 1;
                    if(min == 0)
                        min = "0" + min;
                    if (parseInt(min) == -1) 
                    {
                        clearTimeout(tim);
                        alert('Oops,your time is up!!');
                        document.getElementById("form").submit();
                        
                    }
                    else 
                    {
                        sec = 59;
                        document.getElementById("showtime").innerHTML = "<h4>Time left :</h4>" + min + ":" + sec;
                        tim = setTimeout("f2()", 1000);
                    }
                }
               
            }
        }
        
        </script>

</head>

<body onload="f1()">
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/" class="brand-logo">QuizUp</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/test/">Languages</a></li>
          <!-- <ul id='dropdown1' class='dropdown-content'>
            <li><a href="#!">C</a></li>
            <li><a href="#!">Java</a></li>
            <li class="divider"></li>
            <li><a href="#!">Php</a></li>
          </ul> -->
        <li><a href="/contact">Contact Us</a></li>
        {% if user.is_authenticated %}
        <li><a class="dropdown-button" data-beloworigin="true" data-activates="dropdown1">Welcome {{user.username}} ▼</a></li>
          <ul id='dropdown1' class='dropdown-content'>
            <li><a href="/logout">Logout</a></li>
          </ul>
        {% else %}
        <li><a href="/login">Register/Login</a></li>
        {% endif %}
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/test/">Languages</a></li>
        <li><a href="/contact">Contact Us</a></li>
        {% if user.is_authenticated %}
        <li><a class="dropdown-button" data-beloworigin="true" data-activates="dropdown2">Welcome {{user.username}} ▼</a></li>
          <ul id='dropdown2' class='dropdown-content'>
            <li><a href="/logout">Logout</a></li>
          </ul>
        {% else %}
        <li><a href="/login">Register/Login</a></li>
        {% endif %}
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
    <div class="card-panel"><span class="blue-text text-darken-2" style="margin-left: 14%" id="starttime"><h4></h4></span>
    </div>
    <div class="row">
      <div class="col s6 offset-s9"><span class="flow-text" id="showtime" style="position:fixed;"></span></div>
  </div>
		
	<form style="margin-left: 10%" action="result/" onsubmit="return validate(this);" method="POST" id="form">
    {% csrf_token %}
    <ul>
    {% for question in latest_question_list %}
        <li>{{forloop.counter}}. {{ question.q_text }}</li>
        <input class="with-gap" type="radio" id="{{forloop.counter}}1" name="{{forloop.counter}}" value="{{forloop.counter}}-{{question.option1}}" />
        <label for="{{forloop.counter}}1">{{ question.option1}}</label><br>

        <input class="with-gap" type="radio" id="{{forloop.counter}}2" name="{{forloop.counter}}" value="{{forloop.counter}}-{{question.option2}}" />
        <label for="{{forloop.counter}}2">{{ question.option2}}</label><br>

        <input class="with-gap" type="radio" id="{{forloop.counter}}3" name="{{forloop.counter}}" value="{{forloop.counter}}-{{question.option3}}" />
        <label for="{{forloop.counter}}3">{{ question.option3}}</label><br>

        <input class="with-gap" type="radio" id="{{forloop.counter}}4" name="{{forloop.counter}}" value="{{forloop.counter}}-{{question.option4}}" />
        <label for="{{forloop.counter}}4">{{ question.option4}}</label><br><br><br>
    {% endfor %}
    </ul>
    <input style="margin-left:2%; font-size: 150%;" type="submit" value="Submit" />
    </form>

    
    <script>

        function validate(form)
        {
            var valid = [true,false,false,false,false,false,false,false,false,false,false];
            for (var i = 1; i <= 10; i++) {
                if(document.getElementById(i+'1').checked || document.getElementById(i+'2').checked || document.getElementById(i+'3').checked || document.getElementById(i+'4').checked)
                {
                    valid[i] = true;
                }
            }   
            var eachvalid = true;
            for (var i = 0; i < valid.length; i++) {
                if(valid[i] == false)
                {
                    eachvalid = false;
                    break;
                }

            }
            if(eachvalid == false)
            {
                alert('Please select at least one option in every question. No negative markings :)');
                return false;
            }
            else 
            {
                return confirm('Are you sure you want to submit the form?');
            }
        }
    </script>
    <footer class="page-footer white">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="black-text">Company Bio</h5>
          <p class="black-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="black-text">Test your Skills</h5>
          <ul>
            <li><a class="black-text" href="#!">C</a></li>
            <li><a class="black-text" href="#!">Java</a></li>
            <li><a class="black-text" href="#!">Php</a></li>
            <li><a class="black-text" href="#!">More Languages coming soon..</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="black-text">Connect</h5>
          <ul>
            <li><a class="black-text" href="#!">Home</a></li>
            <li><a class="black-text" href="#!">About Us</a></li>
            <li><a class="black-text" href="#!">Contact Us</a></li>
            
          </ul>
        </div>
      </div>
    </div>
    
  </footer>
<script>
window.onbeforeunload = function() {
  alert('are you sure ?');
};
</script>
  


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static 'js/materialize.js' %}"></script>
  <script src="{% static 'js/init.js' %}"></script>
    



</body>
</html>